<h1>Restaurant Info</h1>

  <h2><%= @restaurant.name %></h1>


    <h3>Adress: <%= @restaurant.address %></h3>
    <h3>Category: <%= @restaurant.category %></h3>
    <h3>Phone Number: <%= @restaurant.phone_number %></h3>

      <p>
      <%= link_to "+ Add a review", new_restaurant_review_path(@restaurant) %>
      </p>

      <p>
      <%= link_to "Back to list of restaurants", restaurants_path %>
      </p>
